<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />

			 
			 
  
    </head>

    <body>
        
        <button type="button" onclick="location.href='login' ">로그인</button>
        <button type="button" onclick="location.href='signup' ">회원가입</button>
    </body>
   
</html>