<!DOCTYPE html>
<html>
	<head>
		<title>signup form</title>
		<link rel="stylesheet" href="/stylesheets/signup.css" />
	</head>

	<body>
		
	
<center>
	<h1 id="title">signup form</h1>
    <form id="signupForm" action="/signup" method="post">
        <table width="400" id="signupTable">
            <tr>
                
                <td><input type="text" name="id" id="id" size="30" maxlength="50" placeholder ="ID" /></td>
            </tr>
            <tr>
               
                <td><input type="text" name="pw" id="pw" size="30" maxlength="50" placeholder ="PW"/></td>
            </tr>
			<tr>
               
                <td><input type="text" name="name" id="name" size="30" maxlength="50" placeholder ="NAME"/></td>
            </tr>
			
            
        </table>
		
		<button type="submit" form = "signupForm" id="submit"> SUBMIT
		</button>
    </form>
	
</center>
	</body>
</html>